/*-----------------------------------------------------------------*/
/* 목록
/*-----------------------------------------------------------------*/

h2.subtitle.img {display:none;}
#boardlist {width:100%;}
#boardlist .category > ul {margin-bottom:63px; font-size:0; text-align:center;}
#boardlist .category > ul > li {display:inline-block; *display:inline; *zoom:1; padding:0 33px; vertical-align:middle;}
#boardlist .category > ul > li > a {display:inline-block; *display:inline; *zoom:1; padding:10px 0; color:#636363; font-size:17px;}
#boardlist .category > ul > li.cate_all > a,
#boardlist .category > ul > li.selected > a {position:relative; color:#000;}
#boardlist .category > ul > li.cate_all > a:after,
#boardlist .category > ul > li.selected > a:after {display:block; position:absolute; left:0; bottom:0; width:100%; height:3px; background:#000; content:'';}
#boardlist table {table-layout:fixed; width:1200px; margin-left:-20px;}
#boardlist table tr > td {padding:0 0 61px 20px; text-align:left; vertical-align:top;}
#boardlist table tr > td .box {width:380px; margin:0 auto; text-align:center;}
#boardlist table tr > td .box .img {width:380px;}
#boardlist table tr > td .box .img img {max-width:100%; height:auto;}
#boardlist table tr > td .subject,
#boardlist table tr > td .subject * {color:#000; font-size:19px; letter-spacing:-0.5px;}
#boardlist table tr > td .subject {padding-top:22px;}
#boardlist .page_write {position:relative; min-height:34px; margin-top:30px;}
#boardlist .page_write .write {position:absolute; right:0; top:0;}
#boardlist .board_search {clear:both; text-align:center;}
#boardlist .board_search form {display:inline-block; margin:30px auto 0; padding:5px; border:1px solid #dcdcdc; text-align:center;}
#boardlist .board_search select {border:0;}
#boardlist .board_search input.form_input.search {width:300px; border-width:0 1px;}
#boardlist .board_search .btn_search {display:inline-block; width:34px; height:34px; border:0; background:url('../gallery_general/img/btn_search.png') no-repeat center; vertical-align:top; text-indent:-9999px; cursor:pointer;}

/*-----------------------------------------------------------------*/
/* 열람
/*-----------------------------------------------------------------*/

#boardview .subject {padding-bottom:28px; color:#000; font-size:35px; font-weight:700; text-align:center;}
#boardview .boxview {}
#boardview .boxview > div {word-break:break-all; word-wrap:break-word;}
#boardview .boxview > div * {font-family:inherit; font-size:inherit; text-align:inherit; line-height:inherit;}
#boardview .boxview > div img {max-width:100%;}
#boardview .btn {margin-top:50px;}
#boardview .btn2 {margin-top:20px; text-align:right;}
#boardview .btn2:after {display:block; clear:both; content:'';}
#boardview .btn2 .modelete {float:left;}

/*-----------------------------------------------------------------*/
/* 쓰기
/*-----------------------------------------------------------------*/

#boardwrite {width:100%; background:#f5f5f5; text-align:center;}
#boardwrite form {display:inline-block; width:72%; margin:0 auto; padding:40px 0; text-align:left;}
#boardwrite fieldset .fld {position:relative; margin-bottom:10px;}
#boardwrite fieldset .fld:last-child {margin-bottom:0;}
#boardwrite fieldset .fld > label {display:none;}
#boardwrite fieldset .fld.name {min-height:34px; padding-right:180px; line-height:34px; font-weight:bold;}
#boardwrite fieldset .fld.name .form_input {width:90%;}
#boardwrite fieldset .fld.name .check {position:absolute; right:0; top:3px;}
#boardwrite fieldset .fld.contents {background:#fff;}
#boardwrite fieldset select {width:100%;}
#boardwrite .btn {padding:20px 0; text-align:center;}

/*-----------------------------------------------------------------*/
/* 비밀번호 확인
/*-----------------------------------------------------------------*/

#boardpw {padding:40px 0; border:1px solid #e0e0e0; background:#fafafa; text-align:center !important;}
#boardpw h3 {padding-bottom:15px;}
#boardpw p {margin-bottom:20px; color:#888;}
#boardpw .form_input {width:330px; margin-bottom:20px;}

/*-----------------------------------------------------------------*/
/* 댓글목록, 댓글쓰기 - 스킨공통css 적용
/*-----------------------------------------------------------------*/