<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 
  /************************
 * @function : ReplyMapper
 * @author : Taeseung Choi
 * @Date : 
 ***************************/
  -->  
<mapper namespace="com.hyundai.mapper.ReplyMapper">
	<!-- 댓글 리스트 불러오기 -->
	<select id="getListWithPage" resultType="com.hyundai.domain.ReplyVO">
		SELECT
		rno, bno, reply, replyer, replydate, updatedate
		FROM qnareply
		WHERE bno = #{qid}
		ORDER BY rno ASC
	</select>
	
	<!-- 댓글 삽입 -->
  	<insert id="insert">
  		INSERT INTO replies (replyid, replytitle, replycontent, replydate, boardsboardid,membersmemberid)
		values(seq_reply.nextval, #{bno}, #{reply}, #{replyer})
  	</insert>
  	
  	<!-- 댓글 읽기 -->
  	<select id="read" resultType="com.hyundai.domain.ReplyVO">
		SELECT * FROM QNAREPLY WHERE rno = #{rno}
	</select>
	<!-- 댓글 삭제 -->
	<delete id="delete">
		DELETE FROM QNAREPLY WHERE rno = #{rno}
	</delete>
	<!-- 댓글 수정 -->
	<update id="update">
		UPDATE QNAREPLY
		SET reply = #{reply}, updatedate = sysdate
		WHERE rno = #{rno}
	</update>
</mapper>